<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<title>Energotchy</title>
		<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://code.jquery.com/jquery-1.10.0.min.js" type="text/javascript" charset="utf-8"></script>

		<style>
			#canvas_surface > img {
				width: 100%;
			}

			.bak{
				width:300px;
			}
		</style>

	</head>
	<body>
		<h1 id="heading">Energotchy!</h1>
		<img class="bak" id="line_unlit" src="/static/img/Strommast2.png" style="flaot:right;"/>
		<img class="bak" id="line_lit" src="/static/img/Strommast3.png" style="flaot:right; display:none;"/>
		<div id="canvas_surface" style="margin: 0 auto; width:520px; height:620px; flat:left;">
			<!--	<canvas id="smiley" width="520" height="620">
			</canvas>-->
			<img id="good" src="/static/img/good.png" />
			<img id="bad" src="/static/img/bad.png" style="display: none;"/>
			<img id="evil" src="/static/img/evil.png" style="display: none;"/>


		</div>

		<script type="text/javascript" charset="utf-8">
			peak = 1;

			function update() { 
				$.getJSON("/data", function(data){
					var is_peak = data.data.peak;
					switchBulb(is_peak);
					var consumption = parseInt(data.data.consumption) * peak;
					console.log(consumption);
					var pic = $("#pic");
					var percentage = 0;
					$("#good").hide();
					$("#bad").hide();
					$("#evil").hide();
					if(consumption < 1800){
						$("#good").show();
						percentage = 1;
					}
					else if(consumption > 1800 && consumption < 3000){
						$("#bad").show();

						percentage = 0.5;
					}
					else {
						$("#evil").show();

						percentage = 0;
					}
					//drawSmiley(percentage);


				})
			}

			function changePeak(){
				if (peak === 1){
					peak = 2;	
					$("#line_lit").show();
					$("#line_unlit").hide();
					console.log("peak on")
				}
				else {
					peak = 1;
					$("#line_unlit").show();
					$("#line_lit").hide();
					console.log("peak off")
				}
			}

			function switchBulb(state){
				if (state == 1){
					$("#bulb").hide();
				}
				else if (state == 2){
					$("#bulb").show();
					$("#bulb").css("-webkit-filter", "grayscale(100%)");
				}
				else {
					$("#bulb").show();
					$("#bulb").css("-webkit-filter", "grayscale(0%)")
				}
			}


			$(document).ready(function() { 
				console.log("ready!");
				setInterval("update()", 500);
			})
		</script>
	</body>
</html>
